/* Lato */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* Open Sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;0,800;1,300;1,400;1,700;1,800&display=swap');
:root{
    --primary-color:#ed6a5a;
    --secondary-color:#ffd166;
    --accent1-color:#2e0014;
    --accent2-color:#706c61;

    --nav-background-color:#706c61;
    --nav-link-color:#fff;
    /**--nav-link-color:#2e0014;**/
    --nav-hover-link-color:#fff;
    /**--nav-hover-link-color:#706c61;**/
    --nav-hover-background-color:#2e0014;

    --heading-font: 'Lato', serif;
    --paragraph-font: 'Open Sans', serif;
}
/*Main Code*/
ul {
    list-style-type: none;
}
body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}
h1{
    position: absolute;
}
h1,h2,h3,h4,h5,h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}
header {
    padding: 20px;
    background-color: var(--accent1-color);
    display: grid;
    grid-template-columns: auto 1fr; /* Logo takes auto width, nav takes the remaining space */
}
p {
    padding: 25px;
    color:#fff;
}
nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
    grid-column: 2/5;
    justify-content: flex-end; 
}
nav li{
    padding-right: 50px;
}
nav a{
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}
nav a:link, nav a:visited{
    color: var(--nav-link-color);
}
nav a:hover {
    color:var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}
article {
    position: absolute;
    background-color: var(--accent1-color);
    color: #fff;
}
article :not(img, p){
    opacity: 50%;
}
img{
    float: right;
    /**position: absolute;**/
}
/*li{
    align-items: center;
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    width:75px; 
    font-size: 35px;
	list-style-type: none;
}*/
main img {
    float: right;
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    margin: 0 1rem 1rem 1rem; /* Adjusted margin */
}
/**Classes**/
.hero img{
    display: block;
    width: 100%;
    height: auto;
}
.logo{
    width: 50px;
}
.adventure{
    /**display: inline-block;**/
    /**width: 400px;**/
    width: 190px;
	/**align-items: center;**/
}
/*.subhero{
    right: 500px;
}*/
.grid {
    display: inline-grid;
    align-items: center;
    justify-content: center;
    background-color: #706c61;
    grid-template-columns: 400px 400px 400px 400px 400px;
	column-gap: 50px;
	row-gap: 50px;
}
.social{
    
}
/**.headergrid {
    display: grid;
    align-items: center;
}**/
/**.minilogo{
    grid-column: 1/2;
}**/
/**.headGrid {
    display: grid;
    justify-content: left;
	max-width:1920px;
	min-width: 480px;
	width: 200%;
	margin-top:-20px;
}**/
/**IDs**/