* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    max-width: 840px;
    grid-column: 2/3;
    align-items: center;
    margin: 1rem;
}
nav {
    background-color: steelblue;
    padding: 10px;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
nav a {
    color: #ffffff;
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    color: #ffffff; 
}
h1{
    color: steelblue;
}
img{
    width: 200px;
    height: auto;
    border: 1px solid steelblue;
    box-shadow: 0 0 30px gray;
}
p{
    padding: 0;
}
aside { 
    margin: 1em;
    /*border: 1px solid rgba(0, 0, 0, 0.2);*/ 
    padding: 1em;
    /*background-color: #eee;*/
    color: #333;
    align-content: center;
    width: 20em;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
    Float: right;
    right: 50px;
}
aside img{
    width: 150px;
    height: auto;
}
footer{
    margin-top: 1em;
    border-top: 1px solid #000;
    text-align: center;
}
/*Class Selectors*/
.box {
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1rem;
    background-color: #ddd;
    color:#000;
}

main img {
    /*future css code*/
    float: right;
}
.indent {
    padding-left: 2em;
    display: block;
    margin-right: 65px;
}
aside h2{
    position: absolute;
    top: 47px;
    left: 150px;
} 
header, .grid, footer {
    max-width: 840px;
    margin:0 auto;
}
.grid {
    display: grid;
    align-items: center;
}
h2 {
    color: #fff;
    text-align: center;
    right: 25px;
}
ul {
    float: right;
    width: 320px;
}